body {
  background-color: #0d1117;
  font-family: Arial, sans-serif;
}
p {
  margin: 0;
}

/* HEADER */
.left-side-header a{
  color: white;
  text-decoration: none;
}

.site-header{
  background-color: #161b22;
  color: #f0f6fc;
  padding: 20px;
}

.search {
  flex: 0 0 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search__input {
  width: 90%;
  border-radius: 15px;
  background-color: #0d1117;
  border: none;
  outline: none;
  padding: 8px;
  padding-left: 13px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #c1baba;
  transition: width 0.5s ease-out;
}
.search__input::placeholder {
  color: #969090;
}
.search__input:focus {
  width: 100%;
}
.search__icon {
  height: 22px;
}
.search__icon:active {
  transform: translateY(2px);
}

/* Search page */
* MAIN CONTENT */
#search-logo{
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 850px) {
  .user-card{
    width: auto;
  }
}

.user-card{
  width: auto;
}
 hr.card-hr{
  border:1px solid white;
}

 .user-card h3{
  color: white;
}
.user-card p{
color:#cccccc;
}

.git-account-image img{
  width: 25px;
  height: 25px;
}

.dot{
  width: 15px;
  height: 15px;
  background: red;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 50%;
}

.button-view{
  padding: .35rem 2rem;
  border: #cccccc;
}


/* 404 PAGE */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
body {
  font-family: "Roboto", sans-serif;
}
body h1 {
  margin-bottom: 20px;
}
body p {
  font-size: 18px;
  line-height: 30px;
}
body a {
  color: #FBD160;
}

svg {
  display: block;
  margin: 0 auto;
  overflow: visible !important;
}
svg #robot_1_ {
  animation-name: verticalAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
svg #light_1_ {
  animation-name: blinkLight;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: steps(2);
}
svg #leftEye_1_, svg #rightEye_1_ {
  animation-name: blinkEye;
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
}
svg #leftArm_1_ {
  animation-name: moveLeftArm;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transform-origin: 50% 10%;
  transition: all;
}
svg #rightArm_1_ {
  animation-name: moveRightArm;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transform-origin: 50% 10%;
}
svg #shadow_1_ {
  animation-name: shadowAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  transform-origin: 50%;
}

@keyframes wave {
  0% {
    transform: rotate(120deg);
  }
  100% {
    transform: rotate(170deg);
  }
}
@keyframes moveLeftArm {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(4deg);
  }
}
@keyframes moveRightArm {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-4deg);
  }
}
@keyframes shadowAnimation {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  100% {
    transform: scale(1.15);
    opacity: 0.6;
  }
}
@keyframes verticalAnimation {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes blinkLight {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blinkEye {
  0% {
    transform: scaleY(0);
  }
  4% {
    transform: scaleY(1);
  }
}

/* CARDS CSS */

.front h3 {
  font-size: 25px !important;
}

.back {
  background: #303a40 !important;
}

.front {
  background: #343a40 !important;
}

.front img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.our-services {
  margin-top: 50px;
}
.flip-container {
  -webkit-perspective: 1000;
  margin: 0 auto 60px auto;
  width: 320px;
  height: 200px;
  border-radius: 15px;
  cursor: pointer;
}

.flip-container:hover .flipper {
  -webkit-transform: rotateY(180deg);
  cursor: pointer;
}
.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  cursor: pointer;
}

.front {
  width: 320px;
  height: 200px;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.front h3 {
  text-align: center;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.front img {
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.back {
  width: 320px;
  height: 200px;
  border-radius: 15px;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotateY(180deg);
  text-align: center;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: white;
}

.back h3 {
  margin-top: 20px;
}

.back p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  margin-right: 15px;
}

.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  position: relative;
}

/* search page */

google-logo {
  /* margin-top:calc(5px + (200 - 5) * ((100vh - 650px) / (1080 - 650))); */
   margin-top: 101px; 
}
.google-logo img{
  width: 500px;
  height: 250px;
  object-fit: contain;
}
.search-section:hover {
  background-color: #fff;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}
.search-section {
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 580px;
}

.search-section img {
  height: 24px;
  width: 24px;
}

.search-section input {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
}

.statistics-title{
  color: white;
}

/* donut chart */

text{
  fill: white;
}

/* line chart */

.bar-chart{
  width: 80%;
  margin: 15px auto;
}