<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DevsWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background: #161b22">
    <header class="site-header d-flex justify-content-between flex-wrap">
        <div class="left-side-header d-flex align-items-center">
            <a href="index.html"><h2>Development Team</h2></a>
            <h4 class="m-0 pl-2 font-italic" id="version"></h4>
        </div>
        <div class="right-side-header d-flex">
            <div>
                <a href="search.html"> <button type="button" class="btn btn-dark mr-3"> Search in Git </button></a>
            </div>
            <div>
                <a href="/developers"> <button type="button" class="btn btn-dark mr-3"> Manage Team </button></a>
            </div>
            <div>
                <a href="statistics.html"> <button type="button" class="btn btn-dark mr-3">Statistics</button></a>
            </div>
        </div>
    </header>
    <div class="container">
        <div id="alerts">

        </div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <style>
        body {
            background-color: #0d1117 !important;
        }

        .left-side-header a {
            color: white;
            text-decoration: none;
        }

        .site-header {
            background-color: #161b22;
            color: #f0f6fc;
            padding: 20px;
        }

        .search {
            flex: 0 0 30%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .search__input {
            width: 90%;
            border-radius: 15px;
            background-color: #0d1117;
            border: none;
            outline: none;
            padding: 8px;
            padding-left: 13px;
            font-weight: 400;
            font-family: "Lato", sans-serif;
            color: #c1baba;
            transition: width 0.5s ease-out;
        }

            .search__input::placeholder {
                color: #969090;
            }

            .search__input:focus {
                width: 100%;
            }

        .search__icon {
            height: 22px;
        }

            .search__icon:active {
                transform: translateY(2px);
            }
    </style>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="./lib/microsoft-signalr/signalr.min.js"></script>
    <script src="~/js/version.js"></script>
    <script src="~/js/popup.js"></script>

</body>
</html>
