@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <div class="d-flex justify-content-center" style=" margin-top: 101px;">
        <img src="images/GitHub-Emblem.png" style="width: 500px; height: 250px; object-fit: contain" alt="Account" />
    </div>
    <h1 class="text-center display-4 my-4" style="color: #757575">Welcome on GitHub!</h1>
    <h4 class="heading-4" style="color: #3e9eff;">
        Learn about <a href="https://github.com/">versioning your app!</a>.
    </h4>
</div>
