@model GitHubSearchWebApp.Models.Developer

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center display-4 my-4" style="color: #757575">Create</h1>

<h4 class="heading-4" style="color: #3e9eff;">Developer</h4>
<hr style="border-color: #bdbdbd" />
<div class="row my-5">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label" style="color: #9e9e9e"></label>
                <input asp-for="FullName" class="form-control" style="background: #0d1117; border: solid 1px #616161; border-radius: 7px;" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GitLogin" class="control-label" style="color: #9e9e9e"></label>
                <input asp-for="GitLogin" class="form-control" style="background: #0d1117; border: solid 1px #616161; border-radius: 7px;" />
                <span asp-validation-for="GitLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label" style="color: #9e9e9e"></label>
                <input asp-for="Email" class="form-control" style="background: #0d1117; border: solid 1px #616161; border-radius: 7px;" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#9e9e9e" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                </svg>
                <input type="submit" value="Create" class="btn btn-secondary" style="background: #21262d; border: solid 1px #bdbdbd; border-radius: 5px; color: #e0e0e0"/>
            </div>
        </form>
    </div>
</div>
<hr style="border-color: #bdbdbd" />
<div>
    <a asp-action="Index" style="color: #3e9eff;">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
