@model DevsWebApp.Models.Developer

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center display-4 my-4" style="color: #757575">Edit</h1>

<h4 class="heading-4" style="color: #3e9eff;">Developer</h4>
<hr style="border-color: #bdbdbd" />
<div class="row  my-5">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FullName" class="control-label" style="color: #9e9e9e"></label>
                <input asp-for="FullName" class="form-control" style="background: #0d1117; border: solid 1px #616161; border-radius: 7px;" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GitLogin" class="control-label" style="color: #9e9e9e"></label>
                <input asp-for="GitLogin" class="form-control" style="background: #0d1117; border: solid 1px #616161; border-radius: 7px;" />
                <span asp-validation-for="GitLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label" style="color: #9e9e9e"></label>
                <input asp-for="Email" class="form-control" style="background: #0d1117; border: solid 1px #616161; border-radius: 7px;" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#9e9e9e" class="bi bi-pen" viewBox="0 0 16 16">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                </svg>
                <input type="submit" value="Save" class="btn btn-secondary" style="background: #21262d; border: solid 1px #bdbdbd; border-radius: 5px; color: #e0e0e0"/>
            </div>
        </form>
    </div>
</div>
<hr style="border-color: #bdbdbd" />
<div>
    <a asp-action="Index" style="color: #3e9eff;">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
