@page
@model GitHubSearchWebApp.Pages.StatisticsModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
@*<link rel="stylesheet" href="https://www.cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css" />*@
<link href="~/css/style.css" rel="stylesheet" type="text/css" />
<body>
    <header class="site-header d-flex justify-content-between flex-wrap">
        <div class="left-side-header d-flex align-items-center">
            <a href="/"><h2>Development Team</h2></a>
            <h4 class="m-0 pl-2 font-italic" id="version"></h4>
        </div>
        <div class="right-side-header d-flex">
         
            @if (SignInManager.IsSignedIn(User))
            {
                @if (User.IsInRole("TeamLead"))
                {
                    <div>
                        <a href="/developers"><button type="button" class="btn btn-dark mr-3">Manage Team</button></a>
                    </div>
                }
                @if (User.IsInRole("Administrator"))
                {
                    <div>
                        <a href="/users"> <button type="button" class="btn btn-dark mr-3"> Manage Users </button></a>
                    </div>
                }
            }
        </div>
    </header>
    <div class="statistics mt-5">
        <div id="alerts">

        </div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <h2 class="text-center statistics-title">Code Written By The Team</h2>
                <p class="text-center lead mb-5">(Kb)</p>
                <div id="donut-chart"></div>
            </div>
            <div class="col-md-8 text-center">
                <h2 class="text-center statistics-title">Activity</h2>
                <div class="dropdown text-center w-75">
                    <button class="dropbtn w-100">Technologies</button>
                    <div class="dropdown-content w-100" id="technologies">
                    
                    </div>
                </div>
                <div class="bar-chart" id="displayCharts">

                </div>
            </div>
        </div>
    </div>


    <script src="./lib/microsoft-signalr/signalr.min.js"></script>
    <script src="./js/version.js"></script>
    <script src="./lib/jquery/dist/jquery.min.js"></script>
    <script src="./lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./js/popup.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="./js/charts.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


</body>

<style>
    .dropbtn {
        background-color: #161b22;
        color: #f0f6fc;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #0d1117;
    }
</style>

